<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Departments</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="bg-gray-100">
    <div class="flex h-screen">
        {% include 'Shared/navigation.html' %}

        <div class="w-full overflow-x-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="w-4/5 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6" style="min-width: 1000px;">
                        <div class="{{ 'bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative' if category == 'error' else 'bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative' }}" role="alert">
                            {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="w-4/5 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6" style="min-width: 1000px;">

                <h1 class="text-2xl font-bold mb-4">Departments</h1>

                <div class="mb-4">
                    <a href="{{ url_for('add_department') }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add Department</a>
                </div>

                <table class="w-full table-auto">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border">Department Name</th>
                            <th class="py-2 px-4 border">Total Training Hours</th>
                            <th class="py-2 px-4 border">Core Skills (%)</th>
                            <th class="py-2 px-4 border">Soft Skills (%)</th>
                            <th class="py-2 px-4 border">Staff in Department</th>
                            <th class="py-2 px-4 border">HR Officers assigned</th>
                            <th class="py-2 px-4 border w-32">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                            <tr>
                                <td class="py-2 px-4 border">{{ department.name }}</td>
                                <td class="py-2 px-4 border text-center align-middle">{{ department.default_total_hours }}</td>
                                <td class="py-2 px-4 border text-center align-middle">{{ department.core_skills_percentage }}</td>
                                <td class="py-2 px-4 border text-center align-middle">{{ department.soft_skills_percentage }}</td>
                                <td class="py-2 px-4 border text-center align-middle">
                                    <a href="{{ url_for('edit_department_users', department_id=department.id) }}" class="text-blue-500 underline hover:text-blue-700">{{ department.user_count }}</a>
                                </td>
                                <td class="py-2 px-4 border text-center align-middle">
                                    <a href="{{ url_for('department_officers', department_id=department.id) }}" class="text-blue-500 underline hover:text-blue-700">{{ department.hr_officer_count }}</a>
                                </td>
                                <td class="py-2 px-4 border text-center align-middle">
                                    <a href="{{ url_for('edit_department', department_id=department.id) }}" class="w-32 inline-block px-4 py-2 border borderlue-500 text-sm font-medium rounded-md text-blue-500 bg-transparent hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Edit</a>
                                    <form action="{{ url_for('delete_department', department_id=department.id) }}" method="post" class="inline" onsubmit="return confirm('Are you sure you want to delete this department?');">
                                        <button type="submit" class="w-32 inline-block px-4 py-2 border border-red-500 text-sm font-medium rounded-md text-red-500 bg-transparent hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                            Delete
                                          </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>