<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="bg-gray-100">
    <div class="flex h-screen">
        {% include 'Shared/navigation.html' %}

        <div class="w-full overflow-x-auto">
            <div class="w-2/6 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6">
                {{ training_hours_graph | safe }} <!-- Own training hours -->
            </div>

            <div class="w-1/3 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6">
                <div class="overflow-x-auto">
                    <h1 class="text-xl font-bold mb-4">Newest Courses (1 Week)</h1>
                    <table class="w-full whitespace-nowrap">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Start Date</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {% for course in get_newest_courses_1_week_graph %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">{{ course[0] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ course[1] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ course[2] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="w-1/3 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6">
                <div class="overflow-x-auto">
                    <h1 class="text-xl font-bold mb-4">Newest Courses (1 Month)</h1>
                    <table class="w-full whitespace-nowrap">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Start Date</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {% for course in get_newest_courses_1_month_graph %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">{{ course[0] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ course[1] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ course[2] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="w-1/3 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6">
                <div class="overflow-x-auto">
                    <h1 class="text-xl font-bold mb-4">Newest Courses (1 Year)</h1>
                    <table class="w-full whitespace-nowrap">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Start Date</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            {% for course in get_newest_courses_1_year_graph %}
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">{{ course[0] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ course[1] }}</td>
                                <td class="px-6 py-4 whitespace-nowrap">{{ course[2] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>
</html>