<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="bg-gray-100">
    <div class="flex h-screen">
        {% include 'Shared/navigation.html' %}

        <div class="w-full overflow-x-auto">
            <div class="w-4/5 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6">
                Dashboard
            </div>
            <div class="w-4/5 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6">
                Dashboard
            </div>
            <div class="w-4/5 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6">
                Dashboard
            </div>
        </div>
    </div>
</body>
</html>