<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reports</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <style>
        .form-container {
          display: none;
          margin-top: 20px;
        }
      </style>
</head>

<body class="bg-gray-100">
    <div class="flex h-screen">
        {% include 'Shared/navigation.html' %}

        <div class="w-full overflow-x-auto">
            <div class="w-2/6 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6">

                <div class="relative">
                    <select id="formSelect" class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <option>Select a report</option>
                        <option value="form1">Staff Information</option>
                        <option value="form2">Department Information</option>
                        <option value="form3">Check Completed Department Information</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </div>
                </div>

                <div id="form1" class="form-container">
                    <h2 class="text-lg font-bold mb-4">Staff Information</h2>
                    <form action="/staffexport" method="post" class="max-w-md">
                        <div class="mb-4">
                            <label for="userId" class="py-2 block text-sm font-medium text-gray-700">Staffs</label>
                            <select id="user_id" name="user_id" class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option value="">Select a user</option>
                                {% for option in dropdown_options_users %}
                                <option value='{{ option.id }}'>{{ option.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex justify-end">
                            <button type="submit"
                                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Export Data
                            </button>
                        </div>
                    </form>
                </div>
                <div id="form2" class="form-container">
                    <h2 class="text-lg font-bold mb-4">Department Information</h2>
                    <form action="/departmentexport" method="post" class="w-full">
                        <div class="mb-4">
                            <label for="date" class="py-2 block text-sm font-medium text-gray-700">Year</label>
                            <input type="number" id="department_date" name="department_date" class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" min="2000" max="2100">
                        </div>
                        <div class="flex justify-end">
                            <button type="submit"
                                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Export Data
                            </button>
                        </div>
                    </form>
                </div>
                  
                <div id="form3" class="form-container">
                    <h2 class="text-lg font-bold mb-4">Department Completion Information</h2>
                    <form action="/completedexport" method="post" class="max-w-md">
                        <div class="mb-4">
                            <label for="departmentId" class="py-2 block text-sm font-medium text-gray-700">Departments</label>
                            <select id="department_id" name="department_id" class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <option value="">Select a user</option>
                                {% for option in dropdown_options_departments %}
                                <option value='{{ option.id }}'>{{ option.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex justify-end">
                            <button type="submit"
                                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Export Data
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script>
        document.getElementById('formSelect').addEventListener('change', function() {
          var selectedForm = this.value;
          var forms = document.getElementsByClassName('form-container');
          for (var i = 0; i < forms.length; i++) {
            forms[i].style.display = 'none';
          }
          document.getElementById(selectedForm).style.display = 'block';
        });
      </script>
</body>
</html>