# Test report  

## Testing performed

*This section should describe your test plans, and results.*

*Every test should have a clear goal so that pass/fail can be indicated against all tests actually performed.*

*For some tests, it is a good idea to use screenshots of target and actual results.*

*You should research testing to set your testing within the known methodologies.*



## Automatic Testing:
*Describe any JUnit tests you created. Describe what percentage of program functionality is covered by JUnit tests.*

*Highlight any functionality not covered by JUnit tests, and say how you overcame that shortfall.*

*Describe if you managed to use the continuous integration server to run tests - which tests were run, and what were the results?* 