<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="bg-gray-100">
    <div class="flex h-screen">
        {% include 'Shared/navigation.html' %}

        <div class="w-full overflow-x-auto">
            <div class="w-4/5 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6" style="min-width: 1000px;">
                <h1 class="text-2xl font-bold mb-4">Applied Courses</h1>

                <table class="w-full table-auto">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border">Name</th>
                        <th class="py-2 px-4 border">Description</th>
                        <th class="py-2 px-4 border">Duration(Hours)</th>
                        <th class="py-2 px-4 border">Instructor</th>
                        <th class="py-2 px-4 border">Start Date</th>
                        <th class="py-2 px-4 border">Course Type</th>
                        <th class="py-2 px-4 border w-32">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in applied_courses %}
                        <tr>
                            <td class="py-2 px-4 border">{{ course[1] }}</td>
                            <td class="py-2 px-4 border">{{ course[2] }}</td>
                            <td class="py-2 px-4 border">{{ course[3] }}</td>
                            <td class="py-2 px-4 border">{{ course[4] }}</td>
                            <td class="py-2 px-4 border">{{ course[5] }}</td>
                            <td class="py-2 px-4 border">{{ course[6] }}</td>

                            <td class="py-2 px-4 border">
                                <div class="py-2 px-4">
                                    <!-- delete button -->
                                    <form action="{{ url_for('delete_applied_course', course_id=course[0]) }}" method="post">
                                        <div class="flex justify-center">
                                            <button type="submit" class="w-32 inline-block px-4 py-2 border border-red-500 text-sm font-medium rounded-md text-red-500 bg-transparent hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                                Delete
                                              </button>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="mt-4 bg-gray-100 rounded-lg p-4 shadow-md">
                    <p class="text-lg font-semibold mb-2">Total Duration</p>
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <p class="text-gray-700">Core Courses:</p>
                            <p class="text-lg font-semibold">{{ total_duration_core }} Hours</p>
                        </div>
                        <div>
                            <p class="text-gray-700">Soft Courses:</p>
                            <p class="text-lg font-semibold">{{ total_duration_soft }} Hours</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>