<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Course</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>


<body class="bg-gray-100">
    <div class="flex h-screen">
        {% include 'Shared/navigation.html' %}

        <div class="w-full overflow-x-auto">
            <div class="w-4/5 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6" style="min-width: 1000px;">
            <h1 class="text-2xl font-bold mb-4">Add a Course</h1>
            <form action="/courses/insert" method="post" class="flex flex-col">
                <label for="name" class="block text-sm font-medium text-gray-700 mb-1">Name</label>
                <input type="text" id="name" name="name" required class="border rounded-md p-2 mb-4 focus:outline-none focus:ring focus:border-blue-500">

                <label for="course_type" class="block text-sm font-medium text-gray-700 mb-1">Course Type</label>
                <select name="course_type" id="course_type" required class="border rounded-md p-2 mb-4 focus:outline-none focus:ring focus:border-blue-500">
                    <option value="Core">Core Skill</option>
                    <option value="Soft">Soft Skill</option>
                </select>

                <label for="duration" class="block text-sm font-medium text-gray-700 mb-1">Course Duration (Hours)</label>
                <input type="number" id="duration" name="duration" required class="border rounded-md p-2 mb-4 focus:outline-none focus:ring focus:border-blue-500">

                <label for="start_date" class="block text-sm font-medium text-gray-700 mb-1">Start Date</label>
                <input type="text" id="start_date" name="start_date" required class="flatpickr-input border rounded-md p-2 mb-4 focus:outline-none focus:ring focus:border-blue-500">

                <label for="instructor" class="block text-sm font-medium text-gray-700 mb-1">Instructor</label>
                <select name="instructor">
                    {% for instructor in instructors %}
                        <option value="{{ instructor[1] }}">{{ instructor[1] }}</option>
                    {% endfor %}
                </select>                

                <label for="description" class="block text-sm font-medium text-gray-700 mb-1">Description</label>
                <textarea id="description" name="description" required class="border rounded-md p-2 mb-4 focus:outline-none focus:ring focus:border-blue-500"></textarea>

                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md mt-2">Add Course</button>
            </form>
          </div>
          
          
    </div>
    <script>
        flatpickr("#start_date", {
            mode: "multiple",
            dateFormat: "Y-m-d",
        });
    </script>
</body>
</html>