<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Date</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="bg-gray-100">
    
    <div class="flex h-screen justify-center items-center">
        <div class="w-1/3 p-4 bg-white rounded-lg shadow-md">
            <h1 class="text-xl font-semibold mb-4">Select a Date</h1>
            <form action="{{ url_for('apply_course_date', course_id=courses_id) }}" method="post">
                <label for="start_date" class="block text-sm font-medium text-gray-700 mb-1">Start Date</label>
                <select id="start_date" name="start_date" multiple required class="border rounded-md p-2 mb-4 focus:outline-none focus:ring focus:border-blue-500">
                    {% for date in date_array %}
                    <option value="{{ date }}">{{ date }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Apply</button>
            </form>
        </div>
    </div>
    
</body>

</html>
