<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CE201</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="overflow-hidden">
    {% if 'user_id' in session %}
    <div class="flex">
        <div class="w-64 h-screen">
            <ul class="space-y-1">
                    <!-- STAFF -->
                    {% if session['user_role'] == 'staff' %}
                        <li>
                            <a href="/dashboard" class="group flex items-center justify-between rounded-lg bg-gray-100 px-4 py-2 text-gray-700">
                                <span class="text-sm font-medium">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/profile" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                <span class="text-sm font-medium">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="/traininghours" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                <span class="text-sm font-medium">Training Hours</span>
                            </a>
                        </li>
                        <li>
                            <a href="/courses" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                <span class="text-sm font-medium">Courses</span>
                            </a>
                        </li>
                    <!-- STAFF -->

                    <!-- HR SUPERIOR -->
                    {% elif session['user_role'] == 'hr_supervisor' %}
                    <li>
                        <a href="/dashboard" class="group flex items-center justify-between rounded-lg bg-gray-100 px-4 py-2 text-gray-700">
                            <span class="text-sm font-medium">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/profile" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                            <span class="text-sm font-medium">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="/departments" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                            <span class="text-sm font-medium">Departments</span>
                        </a>
                    </li>
                    <li>
                        <a href="/courses" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                            <span class="text-sm font-medium">Courses</span>
                        </a>
                    </li>

                    <!-- HR SUPERIOR -->

                    <!-- HR OFFICER -->
                    {% elif session['user_role'] == 'hr_officer' %}
                    <li>
                        <a href="/dashboard" class="group flex items-center justify-between rounded-lg bg-gray-100 px-4 py-2 text-gray-700">
                            <span class="text-sm font-medium">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/profile" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                            <span class="text-sm font-medium">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="/departments" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                            <span class="text-sm font-medium">Departments</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                            <span class="text-sm font-medium">Department Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                            <span class="text-sm font-medium">User Report</span>
                        </a>
                    </li>

                    <!-- HR OFFICER -->
                    {% endif %}
                    <li>
                        <a href="/logout" class="group flex items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                            <span class="text-sm font-medium">Sign Out</span>
                        </a>
                    </li>
            </ul>
        </div>
        {% endif %}
</body>
</html>