<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CE201</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="bg-gray-100">
    <nav class="bg-blue-500 p-4">
        <ul class="flex space-x-4">
            <li><a href="/" class="text-white hover:text-gray-300">Home</a></li>
            <li><a href="/user" class="text-white hover:text-gray-300">User</a></li>
            <li><a href="/courses" class="text-white hover:text-gray-300">Courses</a></li>
        </ul>
    </nav>
</body>

</html>