{% if 'user_id' in session %}
<div id="toggle_nav" style="position: absolute; top: 12px; left: 12px;">
    <img src="https://cdn.vectorstock.com/i/preview-1x/91/81/menu-icon-vector-16849181.jpg" style="width: 40px;border-radius:5px;" alt="Image description">
</div>

<div id="navigation_full" class="w-64 h-screen fixed hidden" style="background-color: #323A47; z-index:10000;">
    <ul class="space-y-1">
        <!-- STAFF -->
        {% if session['user_role'] == 'staff' %}
            <li>
                <a href="/dashboard" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                    <span class="text-md font-small">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/profile" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                    <span class="text-md font-small">Profile</span>
                </a>
            </li>
            <li>
                <a href="/traininghours" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                    <span class="text-md font-small">Training Hours</span>
                </a>
            </li>
            <li>
                <a href="/courses" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                    <span class="text-md font-small">Courses</span>
                </a>
            </li>

            <li>
                <a href="/review" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                    <span class="text-md font-small">Review</span>
                </a>
            </li>
        <!-- STAFF -->

        <!-- HR SUPERIOR -->
        {% elif session['user_role'] == 'hr_supervisor' %}
        <li>
            <a href="/dashboard" class="group flex items-center justify-between bg-gray-100 px-4 py-2 text-gray-700">
                <span class="text-md font-small">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/profile" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                <span class="text-md font-small">Profile</span>
            </a>
        </li>
        <li>
            <a href="/departments" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                <span class="text-md font-small">Departments</span>
            </a>
        </li>
        <li>
            <a href="/courses" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                <span class="text-md font-small">Courses</span>
            </a>
        </li>
        <li>
            <a href="/addcourse" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                <span class="text-md font-small">Add Courses</span>
            </a>
        </li>

      

        <!-- HR SUPERIOR -->

        <!-- HR OFFICER -->
        {% elif session['user_role'] == 'hr_officer' %}
        <li>
            <a href="/dashboard" class="group flex items-center justify-between bg-gray-100 px-4 py-2 text-gray-700">
                <span class="text-md font-small">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/profile" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                <span class="text-md font-small">Profile</span>
            </a>
        </li>
        <li>
            <a href="/departments" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                <span class="text-md font-small">Departments</span>
            </a>
        </li>
        <li>
            <a href="/reports" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                <span class="text-md font-small">Reports</span>
            </a>
        </li>

      

        <!-- HR OFFICER -->
        {% endif %}
        <li>
            <a href="/logout" class="group flex items-center justify-between px-4 py-2 text-gray-400 hover:bg-gray-100 hover:text-gray-700">
                <span class="text-md font-small">Sign Out</span>
            </a>
        </li>
    </ul>
</div>
<script>
    var navigation_full = document.getElementById('navigation_full');
    var button = document.getElementById('toggle_nav');
    
    button.addEventListener('mouseover', function() {
        if (navigation_full.classList.contains('hidden')) {
            navigation_full.classList.remove('hidden');
            button.classList.add('hidden');
        }
    });
    
    navigation_full.addEventListener('mouseover', function() {
        if (navigation_full.classList.contains('hidden')) {
            navigation_full.classList.remove('hidden');
            button.classList.add('hidden');
        }
    });

    navigation_full.addEventListener('mouseout', function() {
        if (!navigation_full.classList.contains('hidden')) {
            navigation_full.classList.add('hidden');
            button.classList.remove('hidden');
        }
    });
</script>
{% endif %}