<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
</head>

<body class="bg-gray-100">
<div class="flex h-screen">
    {% include 'Shared/navigation.html' %}

    <div class="w-full overflow-x-auto">
        <div class="w-4/5 p-4 mx-auto bg-white p-8 rounded-md shadow-md mt-6" style="min-width: 1000px;">
            <h1 class="text-2xl font-bold mb-4 text-left">Profile</h1>
            <form>
                <div class="mb-5">
                    <label for="Username" class="py-2 block text-sm font-medium text-gray-700">Username</label>
                    <input type="text" id="Username" aria-label="Username" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ username }}" disabled>
                </div>
                <div>
                    <label for="Role" class="py-2 block text-sm font-medium text-gray-700">Role</label>
                    <input type="text" id="Role" aria-label="Role" class="bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ role }}" disabled readonly>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>



